{% extends '::base-member.html.twig' %}

{% block title %}
charte
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    charte HERE
  </div>
</div>

{% endblock %}