{% extends '::base-member.html.twig' %}

{% block title %}
MAILBOX
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    MAILBOX HERE
  </div>
</div>

{% endblock %}