{% extends '::base-member.html.twig' %}

{% block title %}
mailing
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    mailing HERE
  </div>
</div>

{% endblock %}