{% extends '::base-member.html.twig' %}

{% block title %}
SETTINGS
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    SETTINGS HERE
  </div>
</div>

{% endblock %}