{% extends '::base-member.html.twig' %}

{% block title %}
HOME
{% endblock %}

{% block content %}

{% include 'ThanksWhoApplicationBundle:Application:navbar.html.twig' %}

<div class="jumbotron text-center">
  <div class="container">
    TIMELINE HERE
  </div>
</div>

{% endblock %}